[Unit]
Description=Storage management daemon for an encrypted storage device
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/eStoraged

[Install]
WantedBy=multi-user.target
